.git
.idea
.vscode
.zed
.github
.claude
.agents
.node_modules
/public/build
/storage/*
!/storage/.gitkeep
!/storage/framework/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
!/storage/app/public/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/vendor
/public/hot
/public/storage
.env
.env.example
.env.backup
.phpunit.cache
.phpunit.result.cache
.phpstan.cache
/storage/clockwork
/storage/framework/testing
/storage/logs/*.log
node_modules
tests
docker-compose.override.yml
npm-debug.log
yarn-error.log
bun.lockb
.cache
README.md
CLAUDE.md
AGENTS.md
.clinerules
.cursor
*.md
